bottle==0.12.20
bottle-healthcheck==0.2.1
cssselect==1.0.3
pymongo<3
packtrack==1.6
xmltodict
flake8
celery[mongodb]<4.0
PyYAML==5.4
requests==2.31.0
raven==5.11.1
newrelic==2.66.0.49
unicode_slugify==0.1.3
