bottle==0.12.7
bottle-healthcheck==0.2.1
lxml==2.3.5
pymongo==2.4
packtrack==1.2
xmltodict
flake8
celery[mongodb]<4.0
PyYAML==3.10
requests==2.18.1
raven==5.11.1
newrelic==2.66.0.49
unicode_slugify==0.1.3
